.h1 {
    color: var(--Roxo_principal);
    margin-left: 10px;
}

.main {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    align-items: stretch;
}

.inicio {
    display: flex;
    flex-direction: column;
    background-color: var(--Fundo);
    width: 100%;
    flex: 1;
}

.topBar {
  padding: 10px
}

.gnr {
    height: 5rem;
}

.ctlg {
    height: 100%;
}
