.main {
    display: flex;
    flex-direction: row;
}

.inicio {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    width: 100%;
}

.topBar {
    background-color: red;
    margin-bottom: 10px;
    padding:10px
}
.gnr {
    background-color: red;
    margin-bottom: 10px;
}
.ctlg {
    background-color: red;
    margin-bottom: 10px;
}