.main {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    align-items: stretch;
}

.inicio {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    width: 100%;
    flex: 1;
}

.topBar {
    background-color: red;
    padding: 10px
}

.gnr {
    background-color: red;

    height: 5rem;
}

.ctlg {
    background-color: red;
    height: 100%;
}